/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.main {
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
}

html, body, .app, .router {
  background-color: lightblue; /* #333*/
  margin: 0;
}

.bc3logo {
  width: 56.6px;
  height: 40px;
}


.socialMediaLink {
  width: 20px;
  height: 20px;
}

.icon-invert-color {
  filter: brightness(0) invert(1); /* Apply brightness and invert filters */
}

.cartSize {
  width: 25px;
  height: 25px;
}

.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 

  position: fixed; /* Set the position to fixed */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left of the viewport */
  width: 100%; /* Take the full width of the viewport */
  height: 60px;
  z-index: 1000; 

}


.menuBar, .bottomRibbon {
  background-color: lightblue; /* Adjust background color as needed */

}

.bottomRibbon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  /* padding-bottom: 20px; */
  /* margin: 0; */
}


.menuBarLink, .bottomRibbonCaption {

  text-decoration: none; /* Remove underline style */
  line-height: 16px;
  font-size: .9em;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, sans-serif;
  letter-spacing: .02em;

}

.bottomRibbonCaption {
  font-size: .7em;
  color: darkgray;
}

.menuBarLink {
  text-transform: uppercase;
  color: #ffffff;
}
.about {
  color: #ffffff;
  font-family: Lato, sans-serif;

}


.main {
  padding-top: 60px;
}

.coverImgContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: auto 3/2;
  /* height: 100vh; 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-wrapper {
  position: relative;
  padding-top: 66.67%; /* 3:2 aspect ratio (2/3 * 100%) */
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}


/* .carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; } */


/* // 550px width is cutoff */
.blogPostPreview-container {
  display: flex; 
  flex-direction: center;
  justify-content: center;
}

@media (min-width: 550px) {
  .blogPostPreview-container {
    flex-direction: row; /* When screen width is >= 550px, align elements horizontally */
    justify-content: space-between; /* Add space between the elements */
    align-items: center; /* Center elements vertically within the parent */
  }

  .blogPostPreview-imgCover{
    aspect-ratio: auto 600 / 337;
    max-width: 50%;                                                                                                                                                            
  }
}


.blogPostPreview-imgCover{
  aspect-ratio: auto 600 / 337;
}

.blogPostPreview-textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}


.formLabel {
  width: 160px;
}

.formInput {
  max-width: 100%;
  background-color: lightgreen;
}



@media only screen and (min-width: 600px) {
  .formInput {
    max-width: 600px; 
  }
}



.blogPostPreviewDate {
  font-size: 12px;
  font-weight: lighter;
}

.BlogPostProviderContainer {
  background-color: bisque;
  border: solid gray 1px;
  border-radius: 8px;
  padding: 10px;
}