.main {
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
}

html, body, .app, .router {
  background-color: lightblue; /* #333*/
  margin: 0;
}

.bc3logo {
  width: 56.6px;
  height: 40px;
}


.socialMediaLink {
  width: 20px;
  height: 20px;
}

.icon-invert-color {
  filter: brightness(0) invert(1); /* Apply brightness and invert filters */
}

.cartSize {
  width: 25px;
  height: 25px;
}

.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 

  position: fixed; /* Set the position to fixed */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left of the viewport */
  width: 100%; /* Take the full width of the viewport */
  height: 60px;
  z-index: 1000; 

}


.menuBar, .bottomRibbon {
  background-color: lightblue; /* Adjust background color as needed */

}

.bottomRibbon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  /* padding-bottom: 20px; */
  /* margin: 0; */
}


.menuBarLink, .bottomRibbonCaption {

  text-decoration: none; /* Remove underline style */
  line-height: 16px;
  font-size: .9em;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, sans-serif;
  letter-spacing: .02em;

}

.bottomRibbonCaption {
  font-size: .7em;
  color: darkgray;
}

.menuBarLink {
  text-transform: uppercase;
  color: #ffffff;
}
.about {
  color: #ffffff;
  font-family: Lato, sans-serif;

}


.main {
  padding-top: 60px;
}

.coverImgContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: auto 3/2;
  /* height: 100vh; 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-wrapper {
  position: relative;
  padding-top: 66.67%; /* 3:2 aspect ratio (2/3 * 100%) */
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}


/* .carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; } */


/* // 550px width is cutoff */
.blogPostPreview-container {
  display: flex; 
  flex-direction: center;
  justify-content: center;
}

@media (min-width: 550px) {
  .blogPostPreview-container {
    flex-direction: row; /* When screen width is >= 550px, align elements horizontally */
    justify-content: space-between; /* Add space between the elements */
    align-items: center; /* Center elements vertically within the parent */
  }

  .blogPostPreview-imgCover{
    aspect-ratio: auto 600 / 337;
    max-width: 50%;                                                                                                                                                            
  }
}


.blogPostPreview-imgCover{
  aspect-ratio: auto 600 / 337;
}

.blogPostPreview-textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


}



.formLabel {
  width: 160px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.formInput {
  max-width: 100%;
  background-color: lightgreen;

}



@media only screen and (min-width: 600px) {
  .formInput {
    max-width: 600px; 
  }
}



.blogPostPreviewDate {
  font-size: 12px;
  font-weight: lighter;
}

.BlogPostProviderContainer {
  background-color: bisque;
  border: solid gray 1px;
  border-radius: 8px;
  padding: 10px;
}


.blogPostContainer {
  background-color: lightyellow;
  border: solid gray 1px;
  border-radius: 8px;
  padding: 20px 10px 20px 10px;

}


.blogTitle {
  font-size: x-large;

  font-style: normal;
  font-family: Lato, sans-serif;
  margin: 0;
}

.gap1 {
  height: 10px;
}
.titleBar {
  width: 40px;
  height: 3px;
  border: solid lightgray 2px;
}

.imgBlog {
  padding: 20px 0 20px 0; 
}

.imgBlogContainer {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.txtBlog {
  font-size: medium;
}

.imgBlogCaption {
  color: gray;
  font-size: small;
}



/* account settings CS */

.background-login-title {

  position: sticky;
  top: 0;
  z-index: 2;
  background-color: yellow;
}

.login-welcome {
  margin: 8px 0 8px 0;
  font-size: x-large;
}

.account-title-mid-header {
  margin: 4px 0 4px 0;
  font-size: medium;
}

.login-body, .account-body{
  max-height: calc(100% - 50px);
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.account-body-container {
  /* background-color: aqua; */
  width: 100%;
  margin: 0;
}

.inputRect {
  width: calc(100% - 2px);
  height: 34px;
  background-color: transparent;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  
}

.inputRect:focus-within {
  border: 1px solid turquoise;
}


.inputTag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  width: 97%;
  height: 14px;
  font-size: xx-small;
  padding: 1px 0 1px 1px;
  margin: 0;

}

.inputText {
  width: 97%;
  height: 18px;
  font-size: 14px;
  background-color: transparent;
  padding: 2px 0 2px 0;
  margin: 0;
  border: 0;
  outline: none;
}


/* Track (the background) */
.account-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 10px; /* Border radius for the scrollbar track */
}

/* Handle (the draggable part) */
.account-body::-webkit-scrollbar-thumb {
  background: #888; /* Background color of the scrollbar thumb */
  border-radius: 10px; /* Border radius for the scrollbar thumb */
}

/* Handle on hover */
.account-body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background color of the scrollbar thumb on hover */
}


.accountSettingsContainer {
  position: relative;
}

.accountSettingsIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
}

.boxTextContainer {
  font-size: small;
  text-decoration: none;
  color: black;
  /* padding: 5px 0 5px 0; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.boxDivider {
  border-bottom: 0.5px solid rgb(239, 239, 239);
  width: 100%;
}

.boxLinkText {
  padding-left: 7px;
}

.boxTextContainer:hover {
  background-color: rgb(239, 239, 239);
}


.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: calc(100% + 5px); /* 10px below the bottom of div1 */
  right: 0; /* Right-most alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  border:0.05px solid lightgray;
  border-radius: 8px;
}


.text-bold {
  font-weight: bold;
}


.background-login,  .account-container {
  width: 560px;
  max-height: 600px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  
}



.formButton {
  font-weight: bold;
  font-size: large;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  border: 1px solid turquoise;
  color: white;
  background-color: turquoise;
  /* border: none; */
}

.loginTitleContainer, .account-title-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 0.5px solid  rgb(239, 239, 239);; 
}

.account-title-left {
  grid-column: 1 / 2;
  grid-row: 1;
  display: flex;

  align-items: center;
}

.account-title-mid {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.account-title-right {
  grid-column: 3 / 4;
  grid-row: 1;
}

.x-circle {
  width: 35px; /* Adjust the size of the circle */
  height: 35px; /* Adjust the size of the circle */
  border-radius: 50%; /* Makes it a perfect circle */
  display: flex;
  justify-content: center;
  align-items: center;

}

.x-circle:hover {
  background-color: rgb(239, 239, 239); /* Background color of the circle */
}

.account-title-left-spacer {
  width: 8px;
  height: 30px;
  /* background-color: yellow; */
}

.CheckBoxShowPassword {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3px;
}

.CheckBoxShowPassword-img {
  width: 16px;
  height: 16px;

}

.CheckBoxShowPassword:hover {
  cursor: pointer;
}

.CheckBoxShowPassword-text {
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;

  padding-left: 3px;

}

.showInputError-text {

  margin: 0;
  color: red;
  font-size: small;
  padding-left: 3px;
}



/** login **/
.loginMenu {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.loginMenu > :not(:last-child) {
  margin-bottom: 10px; /* Add a 10px gap between child elements */
}
/** signup **/




/* transition effect setuip here for input */
.background-gray {
  background-color: rgba(0, 0, 0, 0.7); /* Gray background with transparency */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other content */
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Transition for opacity */
}


.show-background {
  opacity: 1;
}

